<section class="main">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="body">
        <div class="side-content">
            <app-sidebar>12345678</app-sidebar>
        </div>
        <div class="main-content container">
            <div class="action-div">
                <button class="c-btn c-btn-brand">Add Student</button>
                <button class="c-btn c-btn-brand">Find Student</button>
                <button class="c-btn c-btn-brand">Edit Student</button>
                <button class="c-btn c-btn-brand">Delete Student</button>
            </div>
        </div>
    </div>
</section>