<app-header></app-header>
<div class="main">
    <div class="first-view">
        <div class="text-side">
            <div class="hero-text animate__fadeInLeft animate__bounceIn">
                <h1 class="title">"To give yourself the best possible chance of playing to your potential, you must
                    prepare
                    for every eventuality. That means practice."
                </h1>

                <p class="">
                    -Seve Ballesteros
                </p>
            </div>

            <p class="animate__fadeIn animate__bounceIn">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt quasi enim vero ipsum temporibus qui
                expedita, animi laboriosam dignissimos molestiae consequuntur, aut inventore delectus accusantium!
                Libero veritatis harum esse culpa!
            </p>

            <button class="c-btn c-btn-brand c-btn-hover-right-arrow clickable" [routerLink]="['/admin']"
                routerLinkActive="router-link-active">Take A Quiz</button>
        </div>

        <div class="hero-div">
            <img class="hero animate__fadeInRight animate__bounceIn" src="../../assets/images/19362653.jpg" alt="">
        </div>
    </div>

    <div class="second-view">
        <h1 class="second-view-title">
            Popular Quizzes
        </h1>


    </div>
</div>